# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Go

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - name: Check code
      uses: actions/checkout@v4

    - name: Google Cloud Auth
      uses: 'google-github-actions/auth@v2'
      with:
        credentials_json: '${{ secrets.GCP_SA_KEY }}'
        project_id: ${{ env.PROJECT_ID }}

    - name: Setup SSH Key
      run: |
        echo "${{ secrets.GCP_SSH_KEY }}" > gcp_key
        chmod 600 gcp_key
        echo "hello world"
        echo gcp_key
        
    - name: Deploy via SSH
      run: |
        ssh -o StrictHostKeyChecking=no -i gcp_key ${{ secrets.GCP_VM_USER }}@${{ secrets.GCP_VM_IP }} << 'EOF'
          cd /data/beego_reserve &&
          ls -la &&
          git config --global --add safe.directory /data/beego_reserve &&
          git pull origin master &&
          docker compose build &&
          docker-compose up -d &&
          docker-compose restart nginx &&
          docker system prune -f
        EOF

#          git pull origin main
#          docker-compose down
#          docker-compose pull
#          docker-compose up -d --build

#    - name: Set up Go
#      uses: actions/setup-go@v4
#      with:
#        go-version: '1.20'
#    - name: Build
#      run: go build -v ./...
#
#    - name: Test
#      run: go test -v ./...
